#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --rotate-X: 0deg;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #6a6a6a;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  height: 250px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  transform: perspective(1000px) rotateX(var(--rotate-X)) rotateY(0deg)
    rotateZ(0deg);
}

.card .front,
.card .back {
  position: absolute;
  padding: 5px;
  backface-visibility: hidden;
  justify-content: center;
}

.card .back {
  transform: rotateX(180deg);
}

.card.flipped {
  --rotate-X: 180deg;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
